<div class="row">
  <div class="col-md-4" id="entries">
    <div class="form">
      <div class="form-group">
        <label class="control-label">Start Date</label>
        <input type="text" class="datepicker form-control" id="start-date" placeholder="Start Date">
      </div>
      <div class="form-group">
        <label class="control-label">End Date</label>
        <input type="text" class="datepicker form-control" id="end-date" placeholder="End Date">
      </div>
      <div class="form-group">
        <label class="control-label">SYMBOL</label></br>
        <input type="text" id="search" class="typeahead form-control" placeholder="Enter Symbol">
      </div>
    </div>
  </div>
  <h1 id="company-name" class="heading"></h1>
  <div class="col-md-8" id="results">
    <canvas id="myChart" width="800" height="500"></canvas>
  </div>
</div>
