<div class="row">
  <div class="col-md-4" id="entries">
    <div class="form">
      <div class="form-group">
        <label class="control-label">Start Date</label>
        <input type="text" class="datepicker form-control" id="start-date" placeholder="Start Date">
      </div>
      <div class="form-group">
        <label class="control-label">End Date</label>
        <input type="text" class="datepicker form-control" id="end-date" placeholder="End Date">
      </div>
      <div class="form-group">
        <label class="control-label">SYMBOL</label></br>
        <input type="text" class="typeahead searchable form-control" placeholder="Enter Symbol">
      </div>
    </div>
  </div>

  <div class="col-md-8" id="results">
    
  </div>
</div>
