<div class="row">
  <div class="col-md-4" id="entries">
    <div class="form">
      <div class="form-group">
        <label class="control-label">SYMBOL</label></br>
        <input type="text" id="search" class="typeahead form-control" placeholder="Enter Symbol">
      </div>
    </div>
    <h1 id="position"></h1>
  </div>
  <div class="col-md-8" id="results">
    <h1 id="company-name" class="heading"></h1>
    <canvas id="myChart" width="800" height="500"></canvas>
  </div>
</div>
