<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @title || "StockSplosion" %></title>
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script src="../bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
  <script src="../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="../bower_components/moment/moment.js"></script>
  <script src="../bower_components/Chart.js/Chart.js"></script>
  <!-- endbower -->
  <script type="text/javascript" src="scripts/application.js" charset="utf-8"></script>
    
  <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
