// bower:scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

#entries {
  .form {
    margin-top: 5%;
    input {
      font-size: large;
      &.datepicker{
        width: 59%;
      }
    }
    .tt-selectable {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.day {
  cursor: pointer;
}

#company-name {
  margin: 0 auto;
  text-emphasis: center;
}
